
<div nz-row style="margin-top: 8px;" >
	<div nz-col nzSpan="24" >
		<console-tickers></console-tickers>	
	</div>
</div>

<div nz-row style="margin-top: 8px;" >
	<div nz-col nzSpan="24" >
		<console-entrusts></console-entrusts>
	</div>
</div>

<div nz-row  style="margin-top: 8px;" >
	<div nz-col nzSpan="24"  >
		<console-positions></console-positions>
	</div>
</div>

<div nz-row style="margin-top: 8px;margin-bottom: 40px;" >
	<div nz-col nzSpan="24">
		<console-recorder></console-recorder>
	</div>
</div>

<make-entrust-dialog></make-entrust-dialog>
<console-reduce-dialog></console-reduce-dialog>
<console-clear-dialog></console-clear-dialog>


