<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
	<c-container>
		<c-row class="justify-content-center">
			<c-col md="8">
				<c-card-group>
					<c-card class="p-4">
						<c-card-body>
							<login-formbox></login-formbox>
						</c-card-body>
					</c-card>
					<c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
						<c-card-body class="text-center">
							<login-sloganbox></login-sloganbox>
						</c-card-body>
					</c-card>
				</c-card-group>
      		</c-col>
    	</c-row>
	</c-container>
</div>
